body{
    background-color: white;
    
}
.contenedor{
width: 500px;
height: 500px;
margin: 10px;
padding: 20px;
background-color: green;
display: inline-block;
color: white;
font-weight: bold;
}
.bloque2{
display:none;
background-color: red;
width: 200px;
height: 200px;
color: black;
display: inline;
position: relative;
}
.bloque1{
background-color: lime;
width: 200px;
height: 200px;
display: block;
color: black;
position: static;

}
.bloque3{
background-color: greenyellow;
width: 200px;
height: 200px;
display: inline;
color: black;
position: absolute;
margin-top: 10px;
margin-left: 10px;
}
